body {

	background-image: url("http://orig11.deviantart.net/83c2/f/2012/078/e/0/demon_cow_by_demoncowplz-d4t8phj.jpg");
    background-size: cover;
    background-position: center center;
	font-family: monospace;
}
#one{
  background-color: red;
  margin: 20px;
}
#two{
  background-color: red;
  margin: 20px;
  width: 10px;
}
#three{
  background-color: red;
  margin: 20px;
   width: 10px;
}
#four{
  background-color: red;
  margin: 20px;
   width: 10px;
}
#five{
  background-color: red;
  margin: 20px;
   width: 10px;
}
#six{
  background-color: red;
   width: 10px;
}
#seven{
  background-color: red;
   width: 10px;
}
#eight{
  background-color: red;
   width: 10px;
}
#nein{
  background-color: red;
   width: 10px;
}
#ten{
  background-color: red;
   width: 10px;
}
.eleven {
  border: solid black 25px;
   width: 10px;
}
.twelve {
  margin:20px;
  border: solid green 10px;
   width: 10px;
}

}

/*Stuff below governs the start screen*/

.titleContent {
	margin: 10% auto;
    text-align: center;
}

.splashTitle {
	color: #fff;
    font-size: 8em;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px rgba(27, 25, 25, 0.74);
}

.button {
	border: 5px solid #383838;
    color: #383838;
    padding: 20px 50px;
    font-size: 5em;
    text-decoration: none;
    background-color: #abc;
    box-shadow: 15px 15px 80px #555;
}
  a.button:hover {
    background-color: #383838;
    color: #abc;
  }



/*Stuff below governs the Explore screen*/

#exploreBody {
	background-image: url("http://www.firstlightfoods.co.nz/sites/default/files/styles/page_image/public/RECIPES.jpg");
	background-position: bottom center;

}
